@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(0, 0%, 18%, 0.2);
    }
}

@media (min-width: 1024px) {
    /* body {
        display: flex;
        flex-direction: column;
        place-items: center;
    } */

    #app {
        /* min-width: 1280px; */
        padding: 0 2rem;
    }
}
